.paper{
    width: 100%;
    margin: 1% auto;
    padding: 1.5rem;
    margin-bottom: 1.2rem;
    cursor: pointer;
}
.divider{
    color: rgb(0, 0, 0);
    background-color: black !important;
    height: 3rem !important;
    width: 1px !important;
    cursor: context-menu;
}

.box{
    flex-grow: 1 !important;
    overflow: hidden !important;
    padding-left: 100px !important;
    padding-right: 30px !important;
}

.paper-owner{
    width: 85%;
    margin:0;
    margin-bottom: 1.2rem;
}

.descriptionComment{
    position: relative;
    margin-top: 1rem !important;
}

.paper-comment{
    margin-bottom: 1.2rem;
}

.box-comment{
    position: absolute;
    right: 0;
    width: 85%;
}