.style_font{
    font-family: 'Fredericka the Great', cursive;
}

.imagem_perfil{
    width: 30px;
    height: auto;
}

.medium{
    size: 18rem;
}

.foto_perfil{
    width: 30px;
    height: 30px;
}
.foto_dropdawn{
    width: 20px;
    height: 20px;
    margin-right: 0.1rem;
}

.imagem_pequena{
    width: 30px;
    height: 30px;
}

.inputgrande{
    width: 100%;
}

.negrito{
    font-weight: bold;
}

.map{
	margin: 0 auto;
    height: auto;
	border:5px solid #e3f2fd;
}

.bg-custom-image{
    background-image: url(../images/star.png)!important;
    height: 100%;
    width: 100%;
    border: 0;
    background-position:top right;
    background-repeat: repeat; 
    top: -2px;
}
.card{
    border: 0px !important;
}

.card-custom-about{
    background-color:#c6887e;
    box-shadow: #e3f2fd;
    border-radius: 20px;
    border: solid 1px #e3f2fd;
}

.card-text{
    color: #f8e3c6;
}

