.borda{
    max-width: 18rem !important;
}
.spanid{
    font-style: italic;
    margin-left: auto;
}
.box-library{
    padding-left: 90px !important;   
}

.box-topic{
    /* padding-left: 90px !important;   */
    width: 99%; 
    /* margin: 0 auto;
    margin-left: auto;
    margin-right: auto;  */
}

.action{
    cursor: pointer;
}
.action-option-two{
    cursor:context-menu ;
}
.style-font{
    font-size: 17px !important;
    color: #262424 !important;
    box-shadow: inset 1px 1px #262424 !important;
}

@media (max-width: 415px) {
    
    .box-library{
        padding-left: 60px !important; 
    }

    .borda{
        max-width: 15rem !important;
    }
  
}

