.cor-perfil{
    background-color: #f44336 !important;
    color: #FFF !important;
}

.absolute{
    right: 24px !important;
    bottom: 16px !important;
    position: fixed !important;
}

.primaryStyle{
    background-color: #F50057 !important;
    color:#FFF !important;
}

.closeModal{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 25px;
}

.paperStyle{
    height: 200px;
    overflow:auto
}